* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--color-white);
    line-height: 1.5;
    background-color: var(--color-light-blue);
}

:root {
    --color-light-blue: #344fa1;
    --color-blue-white: #7591de;
    --color-blue: #031956;
    --color-white: #fff;
    --color-light-pink: #eb05ff;
    --color-dark-pink: #9113bc;
    --color-item-1: #610094;
    --color-item-2: #FFBD9B;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.display {
    display: block !important;
}

.hidden {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.wrapper {
    padding: 3.2rem;
    display: none;
}

.heading {
    font-size: 2rem;
    margin-bottom: 3.6rem;
}

.today-task__heading {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-blue-white);
    margin-bottom: 1.6rem;
}

.today-task__list {
    list-style: none;
}

.today-task__item {
    min-height: 8rem;
    display: flex;
    align-items: center;
    border-radius: 1.6rem;
    padding: 1.8rem 3.2rem 1.8rem 1.8rem;
    position: relative;
}

.today-task__item--finished {
    opacity: 0.4;
}

.today-task__item--flag {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
}

.today-task__item.today-task__item--color-default {
    background-color: var(--color-blue);
}

.today-task__item.today-task__item--color-1 {
    background-color: var(--color-item-1);
}

.today-task__item.today-task__item--color-2 {
    background-color: var(--color-item-2);
}

.today-task__item + .today-task__item {
    margin-top: 0.6rem;
}

.today-task__item-checkbox {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.today-task__item-checkbox i {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.today-task__item-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    --size: 2.8rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-dark-pink);
    border-radius: 50%;
    position: relative;
}

.today-task__item-checkbox input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 0.4rem);
    height: calc(100% - 0.4rem);
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.today-task__item-checkbox input[type="checkbox"]:checked,
.today-task__item-checkbox input[type="checkbox"]:checked::after {
    content: "\2713";
    background-color: #173586;
}

.today-task__item-name {
    font-size: 1.5rem;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.today-task__item--finished .today-task__item-name {
    color: #aaa;
    text-decoration: line-through;

}

.btn {
    --size: 4.8rem;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: var(--size);
    border-radius: 50%;
}

.btn.btn--light-pink {
    background-color: var(--color-light-pink);
}

.create-task-btn {
    --space: 2rem;
    position: fixed;
    right: var(--space);
    bottom: var(--space);
}

.create-task {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-blue);
    padding: 3.2rem;
    z-index: 2;
    display: none;
}

.create-task__close {
    --space: 1.6rem;
    position: absolute;
    right: var(--space);
    top: var(--space);
    font-size: 2.8rem;
    padding: .4rem 1.2rem;
}

.create-task__heading {
    font-size: 2.4rem;
    margin: 4rem 0 2rem 0;
    text-align: center;
}

.create-task__input + .create-task__input {
    margin-top: 1.2rem;
}

.create-task__input input {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: 1.6rem 1rem;
    border-radius: 0.6rem;
    width: 100%;
}

.create-task__input input::placeholder {
    color: var(--color-blue-white);
}

.create-task__input-message {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 0.4rem;
    color: red;
}

.create-task__func {
    margin-top: 5rem;
    text-align: center;
}

.create-task__func-flag {
    --size: 4.8rem;
    display: inline-block;
    font-size: 1.8rem;
    background-color: var(--color-blue);
    width: var(--size);
    height: var(--size);
    position: relative;
    border-radius: 50%;
}

#flag:checked + .create-task__func-flag{
    border: 2px solid var(--color-white);
}

.create-task__func-flag i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-task__func-color {
    margin-top: 1.6rem;
}

.create-task__func-color-heading {
    color: var(--color-blue-white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.create-task__func-color-list {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}


.create-task__func-color-item {
    --size: 4.8rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 2px solid var(--color-blue-white);
}

.create-task__func-color-list input[type="radio"]:checked + div {
    border: 2px solid var(--color-white);
}

.create-task__func-color-item--default {
    background-color: var(--color-blue);
}

.create-task__func-color-item--1 {
    background-color: var(--color-item-1);
}

.create-task__func-color-item--2 {
    background-color: var(--color-item-2);
}

.create-task-button {
    position: absolute;
    bottom: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding: 1.2rem 0;
    background-color: #076aff;
    border-radius: 2.4rem;
    font-size: 1.5rem;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}

.task-detail {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: var(--color-blue);
    border-radius: 1rem;
    padding: 2.4rem;
    max-height: 36rem;
    overflow-y: scroll;
    display: none;
    animation: scaleIn 0.2s ease;
}

.task-detail.task-detail--color-default {
    background-color: var(--color-blue);
}

.task-detail.task-detail--color-1 {
    background-color: var(--color-item-1);
}

.task-detail.task-detail--color-2 {
    background-color: var(--color-item-2);
}

@keyframes scaleIn {
    from {
        transform: scale(0) translate(-50%, -50%);
    }

    to {
        transform: scale(1) translate(-50%, -50%);
    }
}

.task-detail__close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2.4rem;
    padding: 1.2rem;
}

.task-detail__group + .task-detail__group {
    margin-top: 1.6rem;
}

.task-detail__name-container {
    margin-top: 3.2rem;
}

.task-detail__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-blue-white);
    margin-bottom: .8rem;
}

.getInfoUser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-blue);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.getInfoUser-container {
    width: 80%;
}

.hello {
    font-size: 3.2rem;
    animation: hello 0.3s linear;
}

@keyframes hello {
    from {
        opacity: 0;
        transform: translateY(-4rem) scale(0);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slogan {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-blue-white);
    animation: fadeIn 0.6s linear;
}

.input-group {
    margin-top: 1.2rem;
    text-align: left;
}

.input-group input {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    outline: none;
    padding: 1.6rem 1rem;
    border-radius: 1rem;
    width: 100%;
}

.message {
    display: inline-block;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
    font-size: 1.4rem;
    color: red;
}

.input-group input::placeholder {
    color: var(--color-blue-white);
}

.getInfoUser__btn {
    margin-top: 1.6rem;
    padding: 0.8rem 0;
    background-color: var(--color-blue-white);
    border-radius: 1.2rem;
    font-size: 1.5rem;
}